body {
  font-family: Baskerville, Times New Roman, serif;
  background-color: #feffe0;
  color:#333333;
  text-align: right;
  margin:40px auto;
  max-width:700px;
  line-height:1.4;
  font-size:16px;
  padding-top: 20px;
}

header {
  text-align: center;
  margin-bottom: 28px;
  line-height:1.2
}

#logo-container {
  font-size: max(0.2rem, 1vmin);
  text-align: left;
  display: flex;                /* Use flexbox */
  justify-content: center;       /* Center items horizontally */
  align-items: flex-start;       /* Align items to the top */
  height: 8vh;                 /* Make the container full height */
  width: 100%;                   /* Full width of the page */
  padding: 5px;                 /* Optional padding around the content */
  box-sizing: border-box;        /* Make sure padding doesn't mess up layout */
}

#asciilogo {
  color: #065BA7;
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block; 
  vertical-align: top;
  padding-right: 250px;
}

#pnglogo {
  width: 70%;
  max-width: 100px;
  height: auto;
}

#flag {
  width: 50%;
  max-width: 40px;
  height: auto;
  display:flex;
}

#idflag {
  width: 50%;
  max-width: 45px;
  height: auto;
  display:flex;
  float: left;
  position: fixed;
  top: 50px;   /* Distance from top margin */
  right: 20px; /* Distance from right margin */
  width: auto;
  cursor: pointer;
}

#subtitle {
  display: flex;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a:link {
  color: #065BA7;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #065BA7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #dadae3;
  background-color: transparent;
  text-decoration: none;
}

#menubutton {
  color: #065BA7;
  position: fixed;
  top: 100px;   /* Distance from top margin */
  right: 20px; /* Distance from right margin */
  width: auto;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

pre {
   max-width:100%;
   height:auto;
   font-size: max(0.2rem, 1vmin);
}

p .fafix {
  color:#333333;
  text-align: right;
  line-height:1.4;
  font-size:16px;
  display: inline-block; 
}

span {
    color: #065BA7;
    font-size: 150%;
    float: right;
}

#settings, #result {
  text-align: right;
  auto;max-width:750px;
  line-height:1.8;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding:1em;
  margin: 0;
}

#result {
  line-height:1.4;
}

/* Styling for the old refinery page which I am repurposing for cleaner layout on quiz + about pages */
.warning {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  background-color: #f29896;
  line-height:1.4;
}

.notif-card {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: right;
  margin: 1em 0;
  border-radius: 8px;
  background-color: #7ce698;
  line-height:1.4;
}

h3 {
  margin: 0.1em 0em;
}

ul, ol {
  margin: 0 0 1em;
  padding-left: 1.5em;
}

p {
  margin: 0.3em 0em;
}

.question-card {
  border: 1px solid #ddd;
  text-align: right;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  background-color: #feffe0;
  line-height:1.4;
}

/* Styling for browse table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

 th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

  th {
  background-color: #f2f2f2;
}
  #filters {
  margin-bottom: 20px;
}

  label {
  margin-right: 10px;
}

 /* The side navigation menu */
.sidenav {
  text-align: left;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  max-width:100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #065BA7;
  color:#dadae3;
  box-sizing: border-box;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-align: left;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-right: 50px;
}

button {
  background-color: #065BA7;
  color: #dadae3;
  padding: 7px 12px 7px 12px;
  margin:7px;
  border-radius: 7px;
  float: right;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #00529F;
}

/* mobile compatibility styling */
@media screen and (max-width: 900px) {
  #menubutton {
  position: static;
  }
}
@media screen and (max-width: 730px) {
  #asciilogo {
  display: none;
  }
  
  body {
  margin:40px 15px;
  }
  
  #idflag {
  position: static;
  top: 10px;   /* Distance from top margin */
  left: 150px; /* Distance from right margin */
  float: left;
  }
}
  
}



