body {
  font-family: Garamond, Times, serif;
  background-color: #feffe0;
  color:#444444;
  padding: 20px;
  text-align: left;
  margin:40px
  auto;max-width:650px;
  line-height:1.6;
  font-size:16px;
  padding:10px
}

#body-browse {
  font-family: Garamond, Times, serif;
  background-color: #feffe0;
  color:#444444;
  padding: 20px;
  text-align: left;
  line-height:1.4;
  font-size:16px;
  padding:10px
}

header {
  text-align: center;
  margin-bottom: 28px;
  line-height:1.2
}

header-container {
  font-size: max(0.2rem, 1vmin);
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a:link {
  color: #dadae3;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #dadae3;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #bdeff2;
  background-color: transparent;
  text-decoration: underline;
}

.disclaimer {
  text-align: left;
  color: #fc5353;
}

.goodnews {
  text-align: left;
  color: #75cf3a;
}

#menubutton {
  display: inline-block; 
  color: #065BA7;
  text-align: left;
  float: left;
}

#tinylogo {
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block; 
  vertical-align: top;
}

#asciilogo {
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block; 
  vertical-align: top;
  padding-right: 200px;
}

#clear {
  clear: both;
}

.responsive {
  width: 70%;
  max-width: 100px;
  height: auto;
}

img:hover {
  transform: scaleX(-1);
}

pre {
   color: #065BA7;
   max-width:100%;
   height:auto;
   font-size: max(0.2rem, 1vmin)
}

span {
    color: #065BA7;
    font-size: 150%;
    float: left;
}

#settings, #quiz, #result {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  auto;max-width:650px;
  line-height:1.6;
  font-size:18px;
  padding:10px
  
}

#quiz div {
  margin-bottom: 20px;
}

button {
  background-color: #065BA7;
  color: #dadae3;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #00529F;
}

#reportQuestion {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

 /* The side navigation menu */
.sidenav {
  text-align: left;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  max-width:100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #065BA7;
  color:#dadae3;
  box-sizing: border-box;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-align: left;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 10px; /* Reduced padding for mobile */
  }

  .sidenav a {
    font-size: 10px; /* Smaller font size for mobile */
  }

  #asciilogo {
  visibility: hidden;
}
  
  pre {
  visibility: hidden;
}
}
