body {
  font-family: Baskerville, Times New Roman, serif;
  background-color: #feffe0;
  color:#444444;
  text-align: left;
  margin:40px
  auto;max-width:700px;
  line-height:1.4;
  font-size:16px;
  padding-top: 20px;
}

header {
  text-align: center;
  margin-bottom: 28px;
  line-height:1.2
}

#logo-container {
  font-size: max(0.2rem, 1vmin);
  text-align: center;
  display: flex;                /* Use flexbox */
  justify-content: center;       /* Center items horizontally */
  align-items: flex-start;       /* Align items to the top */
  height: 8vh;                 /* Make the container full height */
  width: 100%;                   /* Full width of the page */
  padding: 5px;                 /* Optional padding around the content */
  box-sizing: border-box;        /* Make sure padding doesn't mess up layout */
}

#asciilogo {
  color: #065BA7;
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block; 
  vertical-align: top;
  padding-right: 250px;
}

#asciilogo-halloween {
  color: #ba0003;
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block; 
  vertical-align: top;
  padding-right: 200px;
}

#asciilogo-xmas {
  color: #1a8c00;
  width: 100%;
  max-width: 100px;
  height: auto;
  display: inline-block; 
  vertical-align: top;
  padding-right: 230px;
}

#pnglogo {
  width: 70%;
  max-width: 100px;
  height: auto;
}

#subtitle {
  display: flex;
}

#oasis {
  display: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a:link {
  color: #dadae3;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #dadae3;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #bdeff2;
  background-color: transparent;
  text-decoration: underline;
}

.disclaimer {
  text-align: left;
  color: #fc5353;
}

.goodnews {
  text-align: left;
  color: #75cf3a;
}

#menubutton {
  color: #065BA7;
  position: fixed;
  top: 100px;   /* Distance from top margin */
  left: 20px; /* Distance from right margin */
  width: auto;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

pre {
   max-width:100%;
   height:auto;
   font-size: max(0.2rem, 1vmin);
}

span {
    color: #065BA7;
    font-size: 150%;
    float: left;
}

#settings, #quiz, #result {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  auto;max-width:750px;
  line-height:1.6;
  font-size:16px;
  padding:10px;
}

#quiz div {
  margin-bottom: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

 th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

  th {
  background-color: #f2f2f2;
}
  #filters {
  margin-bottom: 20px;
}

  label {
  margin-right: 10px;
}

 /* The side navigation menu */
.sidenav {
  text-align: left;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  max-width:100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #065BA7;
  color:#dadae3;
  box-sizing: border-box;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-align: left;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

/* Styling for the refinery which will probably get deleted later */

.question-card {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  background-color: #feffe0;
  line-height:1.4;
}
.question-card h3 {
  margin: 0 0 0.5em;
}
.question-card ol {
  margin: 0 0 1em;
  padding-left: 1.5em;
  
}

button {
  background-color: #065BA7;
  color: #dadae3;
  padding-top: 7px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 12px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #00529F;
}

/* mobile compatibility styling - return to me later! */

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 10px; /* Reduced padding for mobile */
    max-width:100%;
  }

  .sidenav a {
    font-size: 18px; /* Smaller font size for mobile */
  }

  #asciilogo {
  display: none;
  }
  
  pre {
    display: none;
  }
}
